<div class="inner cover mx-auto mb-auto">
  <header class="masthead">
    <h3 class="masthead-brand">Dane Verrtah</h3>
    <nav class="nav nav-masthead app-nav shim justify-content-center">
      <%= nav_helper 'nav-link','span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </header>
</div>