<main role="main" class="inner cover">
  <h1 class="cover-heading cover-block mx-auto">About</h1>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "profile.jpg", width: 300, alt: "Profile IMage of Dane Verret" %>
    </div>
    <div class="col-md-8">
      <p class="lead">Find us in the Web</p>
    </div>
  </div>
</main>