<main role="main" class="inner cover">
 <div class="app-card-container">
   <div class="card">
     <h1 class="cover-heading cover-block mx-auto">About</h1>

     <div class="row">
       <div class="col-md-4">
         <%= image_tag "profile.jpg", width: 300, alt: "Profile Image of Dane Verrtah"%>
       </div>
       <div class="col-md-8">
         <p class="lead">Find us in the Web</p>
       </div>
     </div>
   </div>
 </div>
</main>