<main role="main" class="inner cover">
<div class="app-card-container">
  <div class="card">
    <h1 class="cover-heading cover-block mx-auto">Contact Me</h1>

    <div class = "row">
      <div class="col-md-6">
        <h3>Address</h3>
        <p>The Dallas Entrepreneur Center Co-Working Suites, Dallas, TX</p>
        <h3>Phone</h3>
        <p class="lead"><p><%= number_to_phone "5555555555" %></p>
        <h3>Email</h3>
        <p><a href="mailto:test@test.com?subject=PortfolioContact">test@test.com</a></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.4167500960375!2d-96.8070096!3d32.7812074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9916220262e7%3A0x8b98897d8069b586!2sThe+Dallas+Entrepreneur+Center+Coworking+Space!5e0!3m2!1sen!2sus!4v1516891387898" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
</main>