<main role="main" class="inner cover">
  <h1 class="cover-heading cover-block mx-auto">Peace</h1>
  <p class="lead">The Digital Portfolio of Dane Verret: Ruby On Rails Web Developer & Designer</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>